/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';

$primary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber';
